 @model List<Category>

@section ListCss
{
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
}
@section ListScripts
{
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
        $('#myTable').DataTable();
        } );
    </script>
}


<div class="border p-4 bg-white">
  <div class="row">
      <div class="col-9">
          <h2 class="text-dark">Kategori listesi</h2>
      </div>

      <div class="col-3 text-right">
          <a asp-action="AddUpdateCategory" asp-controller="admin" class="btn btn-primary" >Kategori Ekle</a>
      </div>
  </div>

  <hr />
    @if (TempData["message"] != null)
    {
    <div class="alert alert-danger" role="alert">
        @TempData["message"]
    </div>
    }


  <div>
      @if(Model.Count()>0)
        {
                <table class="table container" id="myTable">
                  <thead>
                    <tr>
                      <th scope="col">Kategori Id</th>
                      <th scope="col">Kategori Adı</th>
                      <th scope="col"><i class="bi bi-arrow-down-up"></i></th>
                    </tr>
                  </thead>
                    <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                      <th scope="row">@item.CategoryId</th>
                      <td>@item.CategoryName</td>
                      <td>
                          <a asp-action="DeleteCategory" asp-route-Id="@item.CategoryId" class="text-danger">
                            <i class="bi bi-trash"></i>
                          </a>
                          <a asp-action="AddUpdateCategory" asp-route-Id="@item.CategoryId" class="primary">
                             <i class="bi bi-upload"></i>
                          </a>
                      </td>
                    </tr>
                }
            </tbody>
            </table>
        }
    </div>
</div>