@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

<div class="border p-4 bg-white">
  <div class="row">
      <div class="col-9">
          <h2 class="text-dark">Kullanıcı Rol listesi</h2>
      </div>
     
      <div class="col-3 text-right">
          <a asp-action="RoleCreate" asp-controller="Admin" class="btn btn-primary">Rol Ekle</a>
      </div>
  </div>
  @if (TempData["message"] != null)
    {
    <div class="alert alert-success" role="alert">
        @TempData["message"]
    </div>
    }
    
    

  <div>
      @if(Model.Count()>0)
        {
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Rol İsmi</th>
                      <th scope="col"><i class="bi bi-arrow-down-up"></i></th>
                    </tr>
                  </thead>
                    <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                      <th scope="row">@item.Id</th>
                      <td>@item.Name</td>
                      <td>
                          <a asp-action="RoleDelete" asp-route-Id="@item.Id" class="text-danger">
                            <i class="bi bi-trash"></i>
                          </a>
                          <a asp-action="RoleEdit" asp-route-Id="@item.Id" class="primary">
                             <i class="bi bi-upload"></i>
                          </a>
                          @*<a href="~/admin/role/edit/@item.Id" class="btn btn-primary">Düzenle</a>
                          <form action="" methot="post" style="display:inline;">*@
                             @* <input type="hidden" name="RoleId" value="@item.Id">
                              <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                          </form>*@
                      </td>
                    </tr>
                }
            </tbody>
            </table>
        }
    </div>

</div>