@model Product

<div class="row mt-4">
    <div class="col-md-6">
        <img src="/img/productImages/@Model.Picture" width="300" height="500" class="img-responsive w-100 border border-1"/>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.ProductName</h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">

                <Badge color="primary">
                    <b>Ürün no:</b>
                </Badge>
                <span class="product-number">#@Model.ProductId</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <Badge color="primary">
                    <b>Ürün Stok:</b>
                </Badge>
                <span class="product-number">@Model.Stock</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 id="product-price">Fiyat: @Model.Price ₺</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="description">
                   <b>Açıklama:</b>
                    @Model.ProductDescription
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                
                 <form method="post" asp-controller="Cart" asp-action="AddCart" class="form-inline" >
                 <input type="hidden" name="ProductId" value="@Model.ProductId">
                 <div class="input-group mb-3">
                     <div style="width: 10%;">
                         <input type="number" name="quantity" class="form-control" value="1" min="1" step="1" >
                     </div>
                     
                     <div class="input-group-append">
                        <button type="submit" class="btn btn-primary btn">Sepete Ekle</button>
                     </div>
                 </div>
                </form>

            </div>
        </div>


        





    </div>
</div>